@import "./variables/sizes.css";
@import "./variables/spacing.css";
@import "./variables/shadows.css";
@import "./variables/themes.css";
@import "./variables/layers.css";
@import "./globals/buttons.css";

* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-size: var(--root-font-size);
  line-height: var(--body-line-height);
  color: var(--text-main);
  font-family: var(--default-font);
  font-weight: var(--body-font-weight);
  letter-spacing: 0.062rem;;
  background-color: var(--white);
}

body.noscroll {
  overflow: hidden;
}

input, button {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.375em;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.25em;
  font-weight: 600;
}

p {
  margin: 0.5em 0;
}

.error {
  background-color: var(--error);
  color: var(--text-on-error)
}
