$RootFontSize: 16px;
$PostsHeaderHeight: 60px;
$PostsHeaderWidth: 100vw;
$PostsFooterHeight: 60px;
$PostsFooterWidth: 100vw;
$FooterNavigationIconSize: 1.5rem;
$CustomInputBorderRadius: 10px;
$RecipeCardHeight: 120px;
$RecipePageTitleSize: 1.375rem;
$RecipePageSubtitleSize: 1.125rem;
