:root {
  /* font sizes */
  --root-font-size: 16px;

  /* headers & footers */
  --posts-header-height: 60px;
  --posts-header-width: 100%;
  --posts-footer-height: 60px;
  --posts-footer-width: 100%;
  --footer-navigation-icon-size: 1.5rem;
  --header-title-size: 2rem;

  /* buttons  */
  --button-border-radius: 4px;

  /* recipes */
  --recipe-card-width: 300px;
  --recipe-page-title-size: 1.375rem;
  --recipe-page-subtitle-size: 1.125rem;

  /* others */
  --custom-input-border-radius: 8px;
  --recipe-card-border-radius: 12px;

  /* screen sizes breakpoints */
  --tablet-screen: 768px;
  --laptop-screen: 1024px;
  --large-screen: 1280px;

  /* maximum content width */
  --max-content-width: 1440px;
}