// font sizes
$RootFontSize: 16px;

// headers & footers
$PostsHeaderHeight: 60px;
$PostsHeaderWidth: 100vw;
$PostsFooterHeight: 60px;
$PostsFooterWidth: 100vw;
$FooterNavigationIconSize: 1.5rem;

// recipes
$RecipeCardHeight: 120px;
$RecipePageTitleSize: 1.375rem;
$RecipePageSubtitleSize: 1.125rem;

// others
$CustomInputBorderRadius: 10px;
