:root {
  --faded-text: 0.8; /* use this for opacity on texts to create a secondary, dimmed text */
  --default-font: "Raleway", sans-serif;
  --white: #fff;
  --body-font-weight: 500;
}

.tropical-fun {
  --primary-color: #FF6B6B;
  --secondary-color: #2AC1B5;
  --tertiary-color: #73c152;
  --quaternary-color: #F2C200;
  --text-primary: var(--primary-color);
  --text-on-primary: var(--white);
  --text-secondary: var(--secondary-color);
  --text-on-secondary: var(--white);
  --text-tertiary: var(--tertiary-color);
  --text-on-tertiary: var(--white);
  --text-quaternary: var(--quaternary-color);
  --text-on-quaternary: var(--white);
  --error: #BB3212;
  --text-on-error: var(--white);
}

.dark {
  /* TODO */
}
