.btn--tight {
  padding: var(--tiny-item-spacer) var(--small-item-spacer);
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
}

.btn--primary-inverse {
  background-color: var(--text-on-primary);
  color: var(--primary-color);
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: var(--text-on-secondary);
}
